.landing {
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    font-family: serif;
    text-align: center;
    padding-top: 17%;


}