/* landing page stylings */
.landing {
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-position: center center;
  text-align: center;
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-top: 17%;
}
#logo {
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
  ;
}

.landing p {
  padding: 2px;
}



.landing h1 {
  padding: 2px;
  margin: 5px;

}
#mouse-click {
  animation: bounce 2s infinite;
}
/* about us stylings */
#about {
  font-family: 'Dancing Script', cursive;
}

.about {
  font-family: serif;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
}
/* services stylings */
.services {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  font-family: serif;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 25px;
  height: 300px;
}

.services h2 {
  font-family: serif;
  text-align: center;
  padding-top: 3%;
  color: white;

}

#servicesoverlay {
  background-color: rgba(0,0,0,0.4); 
  padding-top: 20%;
  padding-bottom: 10%; 
}
 /*what-we-do stylings */

.what-we-do {
  padding-top: 40px;
  font-family: 'Dancing Script', cursive;
  text-align: center;

}

.what-we-do .headings {
  padding-bottom: 38px;
}
#design, #product, #development{
  display: none;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
}
#design .title , #product .title, #development .title{
  font-size: 20px;
  font-weight: 500;
}

/*portfolio stylings */

#portfolio {
  align-items: center;
  display: flex;
  margin-right: 16%;
  margin-left: 18%;
  flex-wrap: wrap;
  padding: 10px;
}

.portfolio h2 {
  font-family: serif;
  text-align: center;
  padding-top: 40px;
}
.col-md-3{
  position: relative;
}

.col-md-3 img {
  max-height: 100%;
  max-width: 100%;

}

.title {
  padding: 6px;
}

#overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
  display: none; 
  font-size: 20px;
  padding-top: 40%;
  padding: 20px;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color:rgba(250, 245, 245, 0.456);
  color:lime;
  position:absolute;
  font-weight:bold;
  text-align: center;
  font-family: cursive;
  

  
}
/*contact us stylings */

.contact {
  background-image: url('../assets/backgrounds/c_image.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.contact h2 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 30px;
}

#comment {
  color: white;
  font-size: 20px;
 font-family: 'Dancing Script', cursive;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px
}

input[type="email"] {
  color: white;
  font-size: 20px;
  font-family: serif;
  background-color: transparent;
}

input[type="text"] {
  color: white;
  font-size: 20px;
  font-family: serif;
  background: transparent;
}

.form-control::-webkit-input-placeholder { 
  color: white; 
}

/* button styling */

button{
  margin-bottom: 20px;
  padding-bottom: 30px;

}

  /*footer stylings */

footer{
  padding-top: 30px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
footer p{
  margin-top: 10px;
}

/* media queries */

@media only screen and (max-width: 755px){
  #overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
  }
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  button{
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 425px){
  #overlay, #overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    font-size: 20px;
  }
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  button{
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  #MERGE0{
    width: 84%;
    margin-left: 4%;
    padding-bottom: 10px;
  }
  #MERGE1{
    width: 100%;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  #comment{
    margin-left: 4%;
    width: 84%;
  }
}
@media only screen and (min-width: 625px){
  #overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:20%; 
    font-size: 26px;
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:6%;
    margin-right: 10%; 
  }
}
